html {
    height: 100%;
    background: repeating-linear-gradient(45deg, rgb(0, 0, 0), rgb(63, 63, 63), rgb(0, 0, 0));
    
}


h3 {
    text-align: center;
    font-family: 'Press Start 2P';
    animation: neon 1.5s ease-in-out infinite alternate;
    margin-top: 80px;
    color: rgb(255, 255, 255);
    margin-bottom: 80px;
}
h1 {
    text-align: center;
    font-family: 'Press Start 2P';
    animation: neon 1.5s ease-in-out infinite alternate;
    margin-top: 80px;
    color: rgb(255, 255, 255);
}
@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
          0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #9198e5, 0 0 150px #9198e5;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
          0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #9198e5, 0 0 75px #9198e5;
      }
}


.calc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

table.calc button {
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border: black;
    border-radius: 3px;
    transition-duration: 0.2s;
    cursor: pointer;

    font-family: 'Press Start 2P';
    font-size: 10px;
}

table.calc button:hover {
    color: black;
    
    background: radial-gradient(#e66465, #9198e5);
    background-size: 200% 200%;

    animation: buttonHover 4s ease infinite;
}
@keyframes buttonHover { 
    0%{background-position:15% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

table.calc input {
    width: 97.8%;
    height: 40px;
    background-color: aliceblue;
    border: black;
    border-radius: 4px;
    text-indent: 11px;

    font-family: 'Press Start 2P';
    font-size: 8px;
}

#shamelessSelfPromotion {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#shamelessSelfPromotion a {
    font-size: x-small;
    font-family: 'Press Start 2P';
    animation: neon 1.5s ease-in-out infinite alternate;
    margin-top: 80px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}